# ==============================
# Python
# ==============================

.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Dataset
# ==============================

data/raw/*
data/processed/*
data/splits/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/splits/.gitkeep

# ==============================
# Model checkpoints
# ==============================

models/**/*.pth
models/**/*.pt
models/**/*.ckpt
models/**/*.safetensors

# ==============================
# Outputs
# ==============================

outputs/*
!outputs/figures/.gitkeep
!outputs/predictions/.gitkeep
!outputs/metrics/.gitkeep
!outputs/reports/.gitkeep
!outputs/failure_cases/.gitkeep

# ==============================
# Logs
# ==============================

*.log

# ==============================
# OS
# ==============================

Thumbs.db
.DS_Store